.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list__item {
  width: 50%;
  margin-bottom: 40px;

  @media(max-width: 767.98px) {
    width: 100%;
  }
}

.catalog-list__title {
  font-weight: 700;
}

.catalog-list__text {
  padding-top: 20px;
}

.catalog-list__pic {
  height: 335px;
  max-width: 500px;
  width: 100%;
}