.clarity {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: inline-block;
  margin-top: auto;
  padding: 40px 90px;
}

.clarity__title {
  font-size: 57px;
  font-weight: 400;
  margin-bottom: 10px;
}

.clarity__text {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.clarity__list {
  li {
    position: relative;
    font-size: 18px;
    font-weight: 400;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -3.2px;
      width: 6.4px;
      height: 6.4px;
      background-color: $green;
      border-radius: 50%;
    }
  }
}