.info__top {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.info__bottom {
  display: flex;
  padding-left: 30px;
  margin-top: 50px;
  position: relative;


  li {
    position: relative;

    a {
      color: #ffffff;
    }

    &:hover .sub-menu__popup {
      display: block;
    }
  }
}

.info__link {
  color: $green;

  &:hover {
    color: #ffffff;
  }

  &--foot {
    margin-right: 70px;
    margin-left: -20px;


  }
}

.info__text {
  padding-left: 10px;
}

.info {
  @media(max-width: 767.98px) {
    display: none;
  }
}