.link-btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  padding: 0 30px;
  background-color: $green;
  text-transform: uppercase;
  align-self: center;
}