.map-wrapper {
  .container {
    display: flex;
    justify-content: space-between;
  }

  ul {
    flex: 0 1 auto;
  }

  li {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
  }
}