.nav-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  .submenu {
    // opacity: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    li {
      color: $main-text;
      position: relative;
      background-color: #ffffff;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      white-space: nowrap;
      padding: 10px;
      padding-right: 50px;

      &::after {
        content: "";
      }

      a {
        &:hover {
          color: $green;
        }
      }
    }
  }

  li {
    position: relative;
    padding: 0 10px;
    color: #ffffff;
    display: flex;
    align-items: center;

    &::after {
      content: "|";
      position: absolute;
      right: -3px;
      top: 50%;
      margin-top: -12px;
    }

    &.active,
    &:hover {
      background-color: #ffffff;

      a {
        color: $main-text;
      }

      &::before {
        content: "";
        position: absolute;
        right: -2px;
        top: 0;
        background-color: #ffffff;
        width: 2px;
        height: 100%;
      }
    }

    a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;

      @media(max-width: 1199.98px) {
        font-size: 16px;
      }
    }


  }

  &--footer {
    li {
      color: $green;

      &.active,
      &:hover {
        background-color: transparent;

        a {
          color: #ffffff;
        }

        &::before {
          content: "";
          position: absolute;
          right: -2px;
          top: 0;
          background-color: #ffffff;
          width: 0;
          height: 100%;
        }
      }

      a {
        color: $green;
      }

      a.active {
        color: #ffffff;
      }
    }

    @media(max-width: 767.98px) {
      display: none;
    }
  }
}

.nav-list>li {
  &:hover .submenu {
    // opacity: 1;
    // transition: opacity 400ms;
    display: block;
  }
}