.nav {
  background-color: $green;
  min-height: 47px;
  display: flex;
  align-items: stretch;
  margin-top: 10px;

  @media(max-width: 767.98px) {
    display: none;
  }

  &--footer {
    background-color: transparent;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}