.new-list {
  padding-left: 20px;
  overflow: hidden;
  margin-bottom: 20px;

  li {
    position: relative;

    &::before {
      content: "*";
      position: absolute;
      left: -20px;
      top: 15%;
      font-size: 18px;
      color: $green;
    }
  }
}