.offer {
  position: relative;
  height: 657px;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  overflow: hidden;
  background-repeat: no-repeat;
  img {
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  @media(max-width: 767.98px) {
    background-image: url('../img/banner-mobile.jpg');
    height: 248px;
    background-position: 0;
  }
}