.owl-prev {
  background-image: url(../img/owl-prev.svg) !important;
  background-repeat: no-repeat !important;
  width: 30px;
  height: 30px;
  top: 270px;
  position: absolute;
  left: -40px;

  &:hover {
    background-color: transparent !important;
    color: transparent !important;
  }

  span {
    display: none;
  }

  @media(max-width: 767.98px) {
    top: 150px;
  }
}

.owl-next {
  background-image: url(../img/owl-next.svg) !important;
  background-repeat: no-repeat !important;
  width: 30px;
  height: 30px;
  top: 270px;
  position: absolute;
  right: -40px;

  &:hover {
    background-color: transparent !important;
    color: transparent !important;
  }

  span {
    display: none;
  }

  @media(max-width: 767.98px) {
    top: 150px;
  }
}