.secondary-title {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 10px;

  &--left {
    text-align: left;
  }

  @media(max-width: 767.98px) {
    font-size: 18px;
  }
}