.services-list {
  display: flex;
  margin-left: - 60px;
  margin-right: - 60px;

  li {
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 60px;
  }

  a {
    display: flex;
    flex-direction: column;
  }

  span {
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.services-list__pic {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}