.single-city {
  @media(max-width: 767.98px) {
    display: block;
  }

  p {
    font-size: 14px;
    font-weight: 700;
    color: $red-text;
    text-transform: uppercase;
  }

  button {
    color: #919191;
    text-decoration: underline;
    font-size: 12px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
  }
}