.single-city {
  @media(max-width: 767.98px) {
    display: block;
  }

  p {
    font-size: 14px;
    font-weight: 700;
    color: $red-text;
    text-transform: uppercase;
  }

  select {
    font-size: 14px;
    color: $red-text;
    font-weight: 700;
    appearance: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
  }

  span {
    color: #919191;
    text-decoration: underline;
    font-size: 12px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    appearance: none;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}