.slide-four {
  position: relative;


  .owl-prev {
    position: absolute;
    left: 0;
    top: calc(50% - 30px);
  }

  .owl-next {
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
  }
}