.slide-three {
  .owl-dot {
    span {
      width: 14px !important;
      height: 14px !important;

      @media(max-width: 767.98px) {
        width: 6px !important;
        height: 6px !important;
      }
    }
  }

  .owl-dot.active {
    span {
      background: $green !important;
    }
  }
}