.slide-four {
  position: relative;


  .owl-prev {
    position: absolute;
    left: 0;
    top: 0;
  }

  .owl-next {
    position: absolute;
    right: 0;
    top: 0;
  }

  span {
    font-weight: 400;
  }
}