.submenu {
  // opacity: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;

  li {
    color: $main-text;
    position: relative;
    background-color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    padding: 10px;
    padding-right: 50px;

    &::after {
      content: "";
    }

    a {
      &:hover {
        color: $green;
      }
    }
  }
}