table {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;

  td {
    outline: 1px solid #DADADA;
    font-size: 16px;
  }
}

.table__title {
  td {
    outline: 1px solid $green;
    font-size: 18px;
  }
}

.table--left {
  text-align: left;


  td {
    padding-left: 20px;

    @media(max-width: 575.98px) {
      padding: 0px;
      font-size: 13px;
    }
  }
}